<body>
  <p id="notice"><%= notice %></p>

  <h1>Pictures</h1>

    <% @pictures.each do |picture| %>
      <div class="contents-picture">
        <%= picture.user.name %><br>
        <%= picture.content %><br>
        <%= image_tag(picture.image.url) %><br>
        <%= link_to 'Show', picture %><br>
        <%= link_to 'Edit', edit_picture_path(picture) %><br>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %><br>
      </div>
    <% end %>

  <br>

  <%= link_to 'New Picture', new_picture_path %>
<body>