<body>
  <p id="notice"><%= notice %></p>

  <div class="contents-picture">
    <p>
      <strong>User:</strong>
      <%= @picture.user.name %><br>
      <strong>Content:</strong>
      <%= @picture.content %><br>
      <strong>Image:</strong>
      <%= image_tag @picture.image.url %><br>
    </p>
  </div>

  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
</body>